:root{
--orange: rgb(236, 167, 2) !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html{
  background-color: lightgray;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
#root{
   scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
  height: fit-content;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10vh;
  overflow: scroll;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
width: 100%;
height: 5vh;
display: flex;
justify-items: baseline;
justify-content: space-between;
flex-direction: row;
padding-bottom: 1rem;
padding: 1rem;
}
.logoContainer{
height: 100%;
display: flex;
flex-direction: row;
}
.logoOrange{
  height: 100%;
  width: auto;
  padding-right: 1rem;
  padding-left: 0.5rem;
transform: translateY(20%);
}
.nameofStore{
  font-size: 2rem;
  margin-top:0;
}
.searchfield{
  width: 90%;
  background-color: white;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.searchIcon{
  background-image: url(./components/images/search.png);
  display: block;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  height: 1rem;
  width: 1rem;
  margin-left: 1.5rem;
  justify-self: left;
  transform: translateY(170%);
}
.searchbar{
  width: calc(100% - 4rem);
  height: 2rem;
  padding-left: 2.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  border: none;
  background-color: white;
}
.bellIcon{
  padding-right: 1rem;
  justify-self: flex-end;
  width: 2rem;
}
.Slideshow{
  height: fit-content;
  width: 100vw;
  overflow: hidden;
  position: relative;
  overflow: scroll;
  background-color: white;
}
.popularP{
  padding-left: 1rem;
  font-size: 1.5rem;
  padding-top: 2rem;
  margin: 0;
  width: 100vw;
  text-align: center;
  background-color: white;
}
nav{
  background-color: white;
}
.SlideshowContainer{
  position: relative;
  width: fit-content;
  display: flex;
  height: 30vh;
  flex-direction: row;
  padding-right: 3rem;
  
}
/* .Slideshow::after{
content: "";
pointer-events: none;
display: block;
position: absolute;
width: 100vw;
height: 20vh;
background: rgb(255,255,255);
background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 24%);} */

.SlideshowContainer > div{
  margin: 0.5%;
  display: block;
  width: 25vh;
  height: calc(100% - 2rem);

}

.SlideshowContainer > div::after{
content: "";
display: block;
height: 100%;
width: 100%;
background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.41827170321253504) 0%, rgba(255,255,255,0) 50%);
}

.SlideshowBeer{
position: relative;
background-image: url(./components/images/beer/elhefe.png);
background-position: center;
background-size: contain;

}
.SlideshowBeer > p:first-child{
  position: absolute;
  color: white;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0;
  margin-bottom: 0.8rem;
  bottom: 5%
}
.SlideshowBeer > p:nth-child(2){
  position: absolute;
  color: white;
  font-size: 1rem;
  padding-left: 0.5rem;
  margin-bottom: 0.2rem;
  bottom: 0%;

}
.cataloguecontainer{
  background-color: white;
  min-height: 50vh;
  height: fit-content;
  width: 100vw;
  display: grid;
  position: relative;
  padding-bottom: 2rem;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-template-rows: repeat(auto 1fr);
}
.cataloguecontainerwish{
  height: fit-content;
  width: 100vw;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto, 2fr);
}

.cataloguecontainer > div, .cataloguecontainerwish > div{
  margin: 5%;
  display: block;
} 
.CatalogueItemOuterCont{
  position: relative;
  height: calc(250vh / 5);
}
.CatItemPhotoCont{
  height: 80%;
  position: relative;
}
.CatItemPhoto{
height: 100%;
position: absolute;
width: 100%;
}
.CatItemTitle{
  font-size: 1.2rem;
font-weight: 600;
}
.filterandsearch{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 5vh;
  width: calc(100vw - 2rem);
  padding-bottom: 2vh;
  background-color: white;
}
.filterandsearch > div{
  display: flex;
  height: 100%;
  width: 20%;
  flex-direction: row;

  text-align: center;
}
.filterandsearch > div > p{
margin: 0;
padding: 0;
padding-left: 1rem;
padding-top:0.5rem ;
justify-self: baseline;
}
.filterandsearch > p{
  margin: 0;
  padding: 0;
  padding-top:0.5rem ;
  justify-self: baseline;
  }
.filter{
  height: 100%;
  width: 80%;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
.sort{
  height:100%;
  width: 80%;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon{
 color: black;
}
.BottomNav{
  transition: transform ease-out 0.2s;
  display: inline-block;
  position: fixed;
  background-color: white;
  height: 10vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 0;
  font-size: 3rem;
  z-index: 999;
}
.BottomNav > .ContainerSVG{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 33.33%;
}
.BottomNav > .ContainerSVG > p{
  font-size: 1rem;
  margin-top: 0.2rem;
  text-decoration: none;
  border: 0;
  text-emphasis: none;
  text-decoration-line: none;
}
.home{
  background-image: url("./components/images/home.svg");
display: block;
height: 100%;
width: 20%;
background-size: contain;
background-position: center;
background-repeat: no-repeat;
transform: translateY(10%);
fill: gray;
}
.shopping{
  background-image: url("./components/images/shopping.svg");
display: block;
height: 100%;
width: 20%;
background-size: contain;
background-position: center;
background-repeat: no-repeat;
transform: translateY(10%);
fill: gray;
}
.heart{
  background-image: url("./components/images/heart.svg");
display: block;
height: 100%;
width: 20%;
background-size: contain;
background-position: center;
background-repeat: no-repeat;
transform: translateY(10%);
}
.addToWish{
position: absolute;
display: block;
background-size: contain;
background-position: center;
background-repeat: no-repeat;
height: 10%;
width: 10%;
right: 10px;
top: 5px;
cursor: pointer;
}
.addToWishAbout{
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 2rem;
  width: 2rem;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
.nopointer{
  pointer-events: none;
}
.card{
  border-radius: 5px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}
.cardNoRadiusBottom{
  -webkit-box-shadow: 0px 1px 27px 0px rgba(184,184,184,1);
  -moz-box-shadow: 0px 1px 27px 0px rgba(184,184,184,1);
  box-shadow: 0px 1px 27px 0px rgba(184,184,184,1);
}

[data-img="elhefe.png"]{
  background-image: url("./components/images/beer/elhefe.png");
}
 [data-img="githop.png"]{
  background-image: url("./components/images/beer/githop.png");
}
[data-img="hoppilyeverafter.png"]{
  background-image: url("./components/images/beer/hoppilyeverafter.png");
}
[data-img="row26.png"]{
  background-image: url("./components/images/beer/row26.png");
}
[data-img="sleighride.png"]{
  background-image: url("./components/images/beer/sleighride.png");
}
[data-img="fairytaleale.png"]{
  background-image: url("./components/images/beer/fairytaleale.png");
}
[data-img="hollaback.png"]{
  background-image: url("./components/images/beer/hollaback.png");
}
[data-img="mowintime.png"]{
  background-image: url("./components/images/beer/mowintime.png");
}
[data-img="ruinedchildhood.png"]{
  background-image: url("./components/images/beer/ruinedchildhood.png");
}
[data-img="steampunk.png"]{
  background-image: url("./components/images/beer/steampunk.png");
}

[data-img="elhefe2.png"]{
  background-image: url("./components/images/beer/elhefe2.png");
}
 [data-img="githop2.png"]{
  background-image: url("./components/images/beer/githop2.png");
}
[data-img="hoppilyeverafter2.png"]{
  background-image: url("./components/images/beer/hoppilyeverafter2.png");
}
[data-img="row262.png"]{
  background-image: url("./components/images/beer/row262.png");
}
[data-img="sleighride2.png"]{
  background-image: url("./components/images/beer/sleighride2.png");
}
[data-img="fairytaleale2.png"]{
  background-image: url("./components/images/beer/fairytaleale2.png");
}
[data-img="hollaback2.png"]{
  background-image: url("./components/images/beer/hollaback2.png");
}
[data-img="mowintime2.png"]{
  background-image: url("./components/images/beer/mowintime2.png");
}
[data-img="ruinedchildhood2.png"]{
  background-image: url("./components/images/beer/ruinedchildhood2.png");
}
[data-img="steampunk2.png"]{
  background-image: url("./components/images/beer/steampunk2.png");
}
.cartpage{
  z-index: 999;
  width: 100%;
  min-height: 100vh;
  height:fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
}

.cartBackground{
  display: flex;
  flex-direction: column;
  background-image: url("./components/images/ticketwshdowwhite.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: fit-content;
  width: 100vw;
  z-index: -1;
  justify-self: center;
align-items: center;
margin-bottom: 2rem;
padding-bottom: 4rem;
}
.cartItem {
  background-color: white;
  width: 90vw !important;
}
.CartName{
  padding: 0;
  margin: 0;
  font-size: 2rem;
  align-self: center;
}
.aboutBeer{
  z-index: 999;
  width: 100%;
  min-height: 100vh;
  max-height: fit-content;
  padding-bottom: 2rem;
  display: block;
  background-color: white;
}
.aboutBeer > .Slideshow > .SlideshowContainer{
  height: fit-content;
}
.aboutBeer > .Slideshow > .SlideshowContainer > .SlideshowBeer{
height:50vh;
background-repeat: no-repeat;
background-size: contain;
width: 80vw;
margin: 0.2rem;
}
.aboutBeer > .Slideshow > .SlideshowContainer > .SlideshowBeer::after{
  content:unset;
}
.Beerinfo{
  background-color: white;
  padding-right: 1rem;
  padding-left: 1rem;
  display: grid;
  grid-template-rows: auto repeat(auto, 5vh);
  grid-template-columns: calc(25vw - 0.5rem) calc(25vw - 0.5rem) calc(25vw - 0.5rem) calc(25vw - 0.5rem);
}
.quantityCont{
  grid-column: span 4;
}
.buttons{
  grid-column: span 4;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.descriptioincont{
  grid-column: span 4;
}
.cursor{
  cursor: pointer;
}
.strong{
  font-weight: 700;
}
.cartAbout{
  width: 20%;
  height: 100%;
  background-color: #EFEFEF;

}
.number{
 width: 4rem; 
}
.quantityCont{
  text-align: center;
display: flex;
flex-direction: column;
align-items: center;

}
.counter{
  justify-content: space-around;
  text-align: center;
  display: flex;
  background-color: #EFEFEF;
  height: 3rem;
  width: 10rem;
  justify-self: center;
  margin-bottom: 2rem;
  border-radius: 2rem;
  overflow: hidden;
}
.counter > button, .counter > input {
  border: none;
  border-style: none;
  background-color:#EFEFEF;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}
.addtoCart{
  width: 40%;
  height: 4rem;
  border-radius: 2rem;
  border-style: none;
color: white;
background-color: var(--orange);
}

.CatAddToCart{
  border: none;
  color: white;
  border-radius: 2px;
  width: 15%;
  position: absolute;
  fill: var(--orange);
  bottom: 2%;
  left: 3%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.addTocart2{
  position: absolute;
display: block;
background-size: contain;
background-position: center;
background-repeat: no-repeat;
width: 20%;
right: 10px;
bottom: 2%;
right: 3%;
cursor: pointer;
}
.absvgcont{
  display: flex;
  flex-direction: column;
  justify-content: center;
text-align: center;
  background-color:#EFEFEF;
  width: 4em;
  height: 4rem;
  border-radius: 50%;
}
/* .absvgcont p{
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
} */
.SVGAbout{
  fill:gray;
height: 1.8rem;
width: 1.8rem;
align-self: center;
}

.absvgcont:hover{
  background-color: var(--orange);
}
.aboutcont:hover > .SVGAbout{
  fill: black;
}
.Beerinfo > div:first-child {
display: grid;
grid-template-columns: 1fr 1fr;
height: fit-content;
grid-column: span 4;
}
.Beerinfo > div:first-child > .addToWishAbout{
  height: 2rem;
  width: 2rem;
  margin-top: 1rem;
}
.titleAbout{
  font-size: 2rem;
  font-weight: 800;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.ml{
  font-size: 2rem;
  margin: 0;
  justify-self: right;
}

.priceAbout{
  font-size: 2rem;
  white-space: nowrap;
  margin: 0;
  font-weight: 600;
  color: var(--orange);
  justify-self: right;
  margin-top: 0.7rem;
}
.heart{
  position: relative;
}
.absvgcont{
  position: relative;
}
.wishLength{
  color: white;
 width: 1.5rem;
 height: 1.5rem;
 font-size: 1rem;
 border-radius: 50%;
 position: absolute;
background-color: var(--orange);
text-align: center;
transform: translateX(70%);
}
.cartLength{  color: white;
  width: 1rem;
  height: 1rem;
  font-size: 0.7rem;
  border-radius: 50%;
  position: absolute;
 background-color: var(--orange);
 text-align: center;
 transform: translateX(70%);
 top: 25%;
 right: 25%;
 }
.wishLength2{
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  border-radius: 50%;
  position: absolute;
 background-color: var(--orange);
 text-align: center;
  right: 0;
  top: 0;
  position: absolute;
}
.cartItem{
  display: grid;
  grid-template-columns: 2rem 5rem auto 1rem;
  grid-template-rows: auto 1rem auto;
  grid-column-gap:0.5rem;
  width: calc(100vw - 4.5rem);
  position: relative;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.beerTitle{
  font-size: 1rem;
  margin: 0;
  font-weight: 700;
  grid-column-start: 3;
  grid-column-end: 4;
}
.priceCart{
  grid-column:3;
  grid-row: 3;
  color: green;
  font-size: 1.2rem;
  margin: 0;
  font-weight: 600;
  align-self: end
}
.imgCartBeer{
  height: 6rem;
  width: 5rem;
  display: block;
  grid-row: span 3;
  grid-column: 2;
  background-repeat: no-repeat;
 background-position: center;
background-size: contain;
justify-self: center;
}
.edit{
  grid-row: span 3;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--orange);
}
.edit input{
  border:none;
  width: 4rem;
  text-align: center;
  color: white;
}
.AlctitleCart{
  grid-row: 2;
  margin: 0;
  padding: 0;
  grid-column: 3;
}
.Alctitle{
margin: 0;
}
.plus, .minus{
justify-self: center;
height: 1rem;
width: 1rem;
padding: 0;
margin: 0;
cursor: pointer;
fill: white;
}
.edit p{
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 700;
}
.plus{
  font-size: 1.5rem;
}
.total{
  width: calc(100% - 2rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.total > p:first-child{
  font-size: 2rem;
  margin: 0.5rem;
}
.total > p:nth-child(2){
  font-size: 2rem;
  font-weight: 600;
  color: var(--orange);
  margin: 0.5rem;
}
.deleteItem{
grid-column: 4 ;
  right: 2.5rem;
  top: 0.5rem;
font-weight: 600;
width: 1rem;
height: 1rem;
cursor: pointer;
}

.CatItemPrice{
  color:var(--orange);
  font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.counter input{
width: 30%;
}
.counter > .plus, .counter > .minus{
width: 1.5rem;
height: 1.5rem;
padding-top: 0.8rem;
}
.cartLine{
  display: block;
  height: 2px;
  width: 90%;
  background-color:lightgray ;
  -webkit-box-shadow: 0px 1px 27px 0px rgba(184,184,184,1);
  -moz-box-shadow: 0px 1px 27px 0px rgba(184,184,184,1);
  box-shadow: 0px 1px 27px 0px rgba(184,184,184,1);
}
.cartBtns{
  display: flex;
  flex-direction: column;
width: 90%;
justify-content: center;
}
.cartBtns button{
  width: 100%;
background-color: var(--orange);
border:none;
padding: 0.5rem;
border-radius: 5px;
margin-bottom: 1rem;
color: white;
font-weight: 700;
}
.cartBtns button:nth-child(2):hover{
  background-color: var(--orange) !important;
}
button:disabled,
button[disabled]{
  background-color: lightgray ;;
  color: #666666;
pointer-events: none;
cursor: unset;
}
button{
  cursor: pointer;
}
.counter > .minus, .counter > .plus{
  fill: black;
} 
[data-availability="notOntap"]{
  position: relative;
}
.catalogueInfo{
  display: flex;
 flex-direction: column;
}
.CatItemTitle{
  grid-column: span 2;
}
.catalogueInfo p{
  margin: 0;
  grid-column: span 2;
}
.NowServing{
  font-weight: 700;
  color: green;

}

.NotServing{
  font-weight: 700;
  color: red;
}
.billInfo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  width: 95vw;
  color: white;
  font-weight: 700;
}
.billInfo p{
  margin: 0.2rem;
}
.justleft{
  justify-self: left;
}
.justright{justify-self: right;}
.checkoutCont{
  width: 90%;
}
.checkTitle{
  text-align: center;
  color: white;
}
.cartup{
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-image: url("./components/images/ticket.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: white;
}
.cartPageLogo{
  padding-right: 1rem;
  width: 2rem;
  height: 2rem;
  align-self: center;
}

.checkoutCont{
  display: flex;
  flex-direction: column;
  background-image: url("./components/images/ticket.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: fit-content;
  width: 100vw;
  z-index: -1;
  justify-self: center;
align-items: center;
background-color: white;
padding-bottom: 2rem;
padding-bottom: 1rem;
}

.contactTitle{
display: flex;
flex-direction: row;
align-items: baseline;
align-self: flex-start;
padding-left: 1rem;
width: 100vw;
background-color: white;
}
.blackCirlce{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  color: white;
  font-weight: 700;
  line-height: 1.8rem;
  margin-right:1rem;
}
.Checkoutbuttons{
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.contactInput{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: calc(100vw - 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  grid-column-gap:1rem ;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  background-color: white;
}
.background100{
background-color: white;
min-height: 100vh;
height: fit-content;
justify-content: center;
text-align: center;
}
.cardInput{
  display: flex;
  flex-direction: column;
  width: calc(100vw - 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  padding-bottom: 2rem;
  background-color: white;
}
.span2{
  grid-column: span 2;
}
.span2 .MuiFormControl-root{
  width: 100%;
  justify-self: center;
}
.cardInput  .MuiFormControl-root{
  width: 90%;
  margin-top: 1rem;
}
.cardInput  .MuiFormControl-root:nth-child(4){
  margin-top: 0;
}
.translateX{
  transform: translateX(1rem);
}
.justify-left{
  align-items: flex-start;
  text-align: left;
}
.cardImage{
  width: 30vw;
  height: 20vw;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.reviewOrderh3{
  width: 100vw;
  text-align: center;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
}
[data-cardtype="visa"]{
  background-image: url("./components/images/visa.svg");
}
[data-cardtype="mastercard"]{
  background-image: url("./components/images/mastercard.svg");
}
[data-cardtype="mobilepay"]{
  background-image: url("./components/images/mobilepay.svg");

}
.cardsSelect{
  width: 100vw;
  padding:1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
}
.left{
  align-self: flex-start;
}
.orange{
  background-color: var(--orange);
}
.whitetext{
  color: white;
}
.continueback{
  font-weight: 600;
  border: none;
  width: 90vw;
  height: 20vw;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.back{
  background-color: transparent;
  border: solid;
  border-color: black;
  border-width: 1px;
}
label{
  color: gray;
}
.checkoutreviewcont{
  height: fit-content;
  min-height: unset;
}

.messages{
  position: relative;
  height: 50vh;
}
.orderConP p {
  position: absolute;
  text-align: center;
  width: 30vw;
 top: 60%;
transform: translateX(-45%);
  color: gray;
  font-weight: 600;
}
.active{
  box-sizing: border-box;
  border-width: 2px;
  border-color: var(--orange);
  position: relative;
}
.active::after{
  content: "";
  background-image: url("./components/images/checkmark.svg");
  display: block;
  width: 20%;
  height: 20%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}
.phoneInput{
  position: relative;
}
 .phoneInput > .MuiInputBase-root{
position: absolute;
  width: 40vw;
  bottom: 0;
}
.labelCountry{
  position: absolute;
  bottom: 10px;
}
.flexColumn{
  display: flex;
  flex-direction: column;
}
.marginTop2Rem{
  margin-top: 2rem;
}
.marginTop1Rem{
  margin-top: 1rem;
}
.paymentconfirm{
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: block;
  z-index: -10;
  position: absolute;
}
.FilterModal{
  background-color: white;
  text-align: center;
  height: 0;
  width: 100vw;
}
.FilterModal > p{
padding-left: 1rem;
padding-right: 1rem;
  cursor: pointer;
 }
.FilterModal > div{
  width: fit-content;
}
.DropDown{
  animation: dropDown 0.2s forwards ease-in-out;
}
@keyframes dropDown{
  from{
    height: 0;
  }
  to{
    height: 6rem;
  }
}
.DropDownSort{
  animation: dropDownSort 0.2s forwards ease-in-out;
}
@keyframes dropDownSort{
  from{
    height: 0;
  }
  to{
    height: 8rem;
  }
}
.CloseUp{
  animation: CloseUp 0.2s forwards ease-in-out;
}
@keyframes CloseUp{
  from{
    height: 6rem;
  }
  to{
    height: 0;
  }
}
.NotServingH2{
  width: 100vw;
  background-color: white;
  margin: 0;
  text-align: center;
}
.tapsLoader{
  display: block;
  position: relative;
  background-color: white;
  height: 50vh;
  width: 100vw;
}
/* ////////Payment Success Animation///////// */

 .success-checkmark {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 115px;
  margin: 0 auto;
}

.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4CAF50;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
  content: '';
  height: 100px;
  position: absolute;
  background: #FFFFFF;
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4CAF50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #FFFFFF;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
/* ///////Loader Animation//////// */
.gooey {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: #fff;
  filter: contrast(20);
}
.gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  /* filter: blur(4px); */
  background: gray;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.gooey .dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
.gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  /* filter: blur(4px); */
  background: gray;
  border-radius: 50%;
}
@-moz-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-webkit-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-o-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-moz-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-webkit-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-o-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

.displaynone{
  display: none;
}